# === AI Text Detection Project ===
# Developed by Raúl Andrino
# Universidad Politécnica de Madrid

# Deep Learning
tensorflow==2.17.0
keras==3.6.0

# Data Processing & Analysis
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2

# Natural Language Processing
nltk==3.9.1

# Visualization
matplotlib==3.9.2
seaborn==0.13.2